
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (locals.lastVisit) { %>
            <div class="last-visit-message">
                Your last visit was on <%= locals.lastVisit %>
            </div>
        <% } %>
          <% p.forEach(product => { %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.price %></td>
              <td><img src="<%= product.imageUrl %>" alt="Product Image" /></td>
              <td>
                <a href="/update-product/<%= product.id %>" class="btn-update">Update</a>
                <a href="/delete-product/<%= product.id %>" class="btn-delete">Delete</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
